.Footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  padding: 0 70px;
}

.Footer__text {
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  text-decoration: none;
  margin: 0;
}

.Footer__text_color_white {
  color: var(--light);
}

.Footer__text_color_grey {
  color: var(--light-grey);
}

.Footer__heading {
  margin-bottom: 20px;
}

.Footer__copyrights {
  color: var(--light);
}

.Footer__section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-top: 1px solid var(--light-grey);
  padding: 20px 0;
}

.Footer__links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.Footer__link-item {
  margin-left: 20px;
}

.Footer__link-item:first-of-type {
  margin: 0;
}

/* Media queries */
@media (max-width: 768px) {
  .Footer {
    padding: 0 30px;
  }
}

@media (max-width: 414px) {
  .Footer {
    padding: 0 10px;
  }

  .Footer__section {
    flex-direction: column-reverse;
    align-items: center;
    padding: 0;
    padding-bottom: 10px;
  }

  .Footer__links {
    flex-direction: column;
    align-items: center;
    padding: 30px 0;
  }

  .Footer__link-item {
    margin: 0;
    margin-top: 12px;
  }

  .copyrights {
    color: var(--light-grey);
  }

  .Footer__text {
    font-size: 12px;
    line-height: 15px;
  }
}
